/* General rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ms-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
}

h2 {
    width: 100%;
    text-align: center;
    color: #323232;
}

/* Style icon */
i.fas.fa-plus, i.fas.fa-minus, i.fas.fa-pencil-alt {
    float: right;
    line-height: 35px;
}

/* Header */
header {
    display: flex;
    width: 100%;
    /* debug */
    height: 100px;
    /* background-color: red; */
    border-bottom: 1px solid;
}

/* Main */
main {
    width: 100%;
    height: calc(100vh - 162px);
    padding: 40px 0;
    overflow: auto;
}

#container_first_file, #container_second_file {
    justify-content: center;
    flex-wrap: wrap;
    width: calc(100% / 2 - 100px);
    padding: 0 65px;
    margin: 50px 0 20px;
}

.preview {
    min-height: 350px;
    max-height: 350px;
    overflow: auto;
    width: 100%;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    background: #3a3a3a;
    box-shadow: -1px 1px 8px 1px #000;
}

.preview::-webkit-scrollbar {
    width: 5px;
}

.preview::-webkit-scrollbar-track {
    background-color: #3a3a3a;
    border-radius: 5px;
}

.preview::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #000;
}

.number {
    float: left;
    width: 40px;
    line-height: 35px;
    color: #cfcfcf;
    text-align: right;
    font-weight: 500;
    padding: 0 10px;
}

.text {
    width: 80%;
    line-height: 36px;
    padding-left: 20px;
    margin: 0 auto;
    color: #fff;
    font-weight: 500;
    border-left: 1px solid #cfcfcf;
}

.ms-input-group {
    max-height: 38px;
}

/* Footer */
footer {
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-top: solid 1px #e3e3e3;
    background-color: #edecec;
}

footer > div span {
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(76, 76, 76);
}